<template>
  <div id="ClassTeacher">
    <nav-bar-teacher></nav-bar-teacher>

    <b-container
      class="container-classTeacher d-flex flex-column justify-content-center"
    >
      <b-row align-h="center" class="wrap-classTeacher d-flex flex-column">
        <!-- modal pop up create code-->
        <b-button class="btn-creatClass_1" pill @click="modalClass = true">
          Create Class
        </b-button>
        <div
          class="card text-center"
          v-for="classTeacher in Class"
          v-bind:key="classTeacher.id"
        >
          <div
            class="card-body d-flex flex-column justify-content-center"
            v-on:click="navigate(classTeacher.Code)"
          >
            <p id="fonttext" class="card-text id-class">
              Semester: {{ classTeacher.Semester }} / {{ classTeacher.Year }}
              {{ classTeacher.Subject_ID }}
            </p>
            <p id="fonttext" class="card-text name-class">
              {{ classTeacher.Class_Name }}
            </p>
            <p id="fonttext" class="card-text code-class">
              Code: {{ classTeacher.Code }}
            </p>

            <!-- <router-link
              class="secondary-content"
              v-bind:to="{
                name: 'TopicTeacher',
                params: { Class_Name: classTeacher.Class_Name },
              }"
            >
              <i class="fa fa-eye">Link</i></router-link
            > -->
          </div>
          <b-row align-h="end" class="icon-edit-trash">
            <img @click="updateClass(classTeacher)" src="../assets/edit.svg" />
            <img
              @click="deleteClass(classTeacher.Code)"
              src="../assets/trash.svg"
            />
          </b-row>
        </div>

        <b-modal
          id="modal-multi-1"
          centered
          size="lg"
          title="Create Class"
          hide-footer
          v-model="modalClass"
        >
          <b-form @submit="CreateClass">
            <b-col class="form-group">
              <label for="input-default">Class Name</label>
              <b-form-input
                type="text"
                v-model="Class_Name"
                required
                placeholder="Class Name"
                :state="Class_Name != null ? Class_Name.length >= 1 : null"
              ></b-form-input>
              <span v-if="msg.Class_Name">{{ msg.Class_Name }}</span>
            </b-col>

            <b-col class="form-group">
              <label for="input-default">Subject ID</label>
              <b-form-input
                type="text"
                v-model="Subject_ID"
                required
                placeholder="Subject ID"
                :state="Subject_ID != null ? Subject_ID.length >= 1 : null"
              ></b-form-input>
              <span v-if="msg.Subject_ID">{{ msg.Subject_ID }}</span>
            </b-col>

            <b-col class="form-group">
              <label for="input-default">Semester</label>
              <b-form-select
                v-model="Semester"
                required
                placeholder="Semester"
                :state="Semester != null"
              >
                <b-form-select-option :value="null" disabled>
                  -- Please select semester --
                </b-form-select-option>
                <b-form-select-option value="1">1</b-form-select-option>
                <b-form-select-option value="2">2</b-form-select-option>
                <b-form-select-option value="3">3</b-form-select-option>
              </b-form-select>
              <span v-if="msg.Semester">{{ msg.Semester }}</span>
            </b-col>

            <b-col class="form-group">
              <label for="input-default">Year</label>
              <b-form-input
                type="number"
                v-model="Year"
                min="2019"
                required
                placeholder="Year"
                :state="Year != null ? Year.length >= 4 : null"
              ></b-form-input>
              <span v-if="msg.Year">{{ msg.Year }}</span>
            </b-col>

            <!-- <b-col class="form-group">
            <label for="input-default">Code</label>
            <b-form-input
              type="text"
              v-model="Code"
              required
              placeholder
            ></b-form-input>
          </b-col> -->

            <div class="text-center">
              <b-button
                v-if="updating"
                type="submit"
                class="btn-creatClass_2"
                pill
              >
                Update Class
              </b-button>
              <b-button v-else type="submit" class="btn-creatClass_2" pill>
                Create Class
              </b-button>
            </div>
          </b-form>
        </b-modal>

        <!-- modal pop up show code and alert seccess-->
        <b-modal
          id="modal-multi-2"
          centered
          hide-footer
          v-model="modal"
          @hidden="resetModal(true)"
        >
          <b-col class="show-complete">
            <img src="../assets/complete.svg" />
            <p class="my-2" v-if="updating">Update Class Success</p>
            <p class="my-2" v-else>Create Class Success</p>
            <p class="my-3">CODE</p>
            <p class="show-code d-flex justify-content-center">
              {{ Code }}
            </p>
          </b-col>
          <div class="text-center">
            <b-button class="btn-creatClass_2" pill @click="resetModal(true)"
              >OK</b-button
            >
          </div>
        </b-modal>

        <!-- Modal pop up show code and alert seccess-->
        <b-modal
          id="modaldel-multi-2"
          centered
          hide-footer
          v-model="modaldel"
          @hidden="resetdel"
        >
          <b-col class="show-complete">
            <!-- <img src="../assets/complete.svg" /> -->
            <p class="my-4">Are you sure delete?</p>
          </b-col>
          <div class="text-center">
            <b-button class="btn-creatClass_2" pill @click="setdel"
              >Yes</b-button
            >
          </div>
        </b-modal>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// import firebase from "firebase";
import router from "../router";
import NavBar_Teacher from "@/components/NavBar_Teacher.vue";
import { mapGetters } from "vuex";
import { firestore } from "../library/firebase";
// import Vuelidate from 'vuelidate';
// Vue.use(Vuelidate)
// import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  name: "ClassTeacher",
  components: {
    "nav-bar-teacher": NavBar_Teacher
  },
  data() {
    return {
      Class: [],
      Class_Name: null,
      Subject_ID: null,
      Semester: null,
      Year: null,
      msg: [],
      Code: (
        Date.now() + Math.floor(Math.random() * 1000000000000001)
      ).toString(36),
      loading: true,
      modal: false,
      modaldel: false,
      deleteCode: null,
      modalClass: false,
      updating: false
    };
  },
  // validations: {
  //   Class_Name: { required },
  //   Subject_ID: { required },
  //   Semester: { required },
  //   Year: { required, minLength: minLength(4), maxLength: maxLength(5) }
  // },
  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    })
  },
  created() {
    this.fetchClass();
  },
  watch: {
    Class_Name(value) {
      this.Class_Name = value;
      this.validateClassName(value);
    },
    Subject_ID(value) {
      this.Subject_ID = value;
      this.validateSubjectID(value);
    },
    Semester(value) {
      this.Semester = value;
      this.validateSemester(value);
    },
    Year(value) {
      this.Year = value;
      this.validateYear(value);
    }
  },
  methods: {
    validateClassName(value) {
      if (value == null) return;
      if (value.length < 1) {
        this.msg["Class_Name"] = "Class name is required!";
      } else {
        this.msg["Class_Name"] = "";
      }
    },
    validateSubjectID(value) {
      if (value == null) return;
      if (value.length < 1) {
        this.msg["Subject_ID"] = "Subject ID is required!";
      } else {
        this.msg["Subject_ID"] = "";
      }
    },
    validateSemester(value) {
      if (value == null) return;
      if (value.length < 1) {
        this.msg["Semester"] = "Semester is required!";
      } else {
        this.msg["Semester"] = "";
      }
    },
    validateYear(value) {
      if (value == null) return;
      let difference = 4 - value.length;
      if (value.length < 4) {
        this.msg["Year"] =
          "Must be 4 digit numbers! " + difference + " digit numbers left.";
      } else {
        this.msg["Year"] = "";
      }
    },
    deleteClass(code) {
      this.modaldel = true;
      this.deleteCode = code;
    },
    resetForm() {
      this.Class_Name = null;
      this.Subject_ID = null;
      this.Semester = null;
      this.Year = null;
      this.Code = (
        Date.now() + Math.floor(Math.random() * 1000000000000001)
      ).toString(36);
      this.modalClass = false;
      this.updating = false;
    },
    resetModal(isFetch) {
      this.modal = false;
      this.resetForm();
      if (isFetch) this.fetchClass();
    },
    setModal(status) {
      this.modal = status;
    },
    resetdel() {
      this.modaldel = false;
      this.deleteCode = null;
    },
    setdel() {
      if (this.deleteCode) {
        firestore
          .collection("Class")
          .doc(this.deleteCode)
          .delete()
          .then(() => this.fetchClass());
      }
      this.modaldel = false;
    },
    CreateClass(evt) {
      evt.preventDefault();
      this.modalClass = false;

      if (this.updating) {
        firestore
          .collection("Class")
          .doc(this.Code)
          .update({
            Class_Name: this.Class_Name,
            Subject_ID: this.Subject_ID,
            Semester: this.Semester,
            Year: this.Year,
            updateAt: new Date().toISOString()
          })
          .then(() => {
            this.setModal(true);
            this.fetchClass();
          });
        return;
      }

      firestore
        .collection("Class")
        .doc(this.Code)
        .set({
          Class_Name: this.Class_Name,
          Subject_ID: this.Subject_ID,
          Semester: this.Semester,
          Year: this.Year,
          Code: this.Code,
          uid: this.user.data.uid,
          students: [],
          createdAt: new Date().toISOString(),
          updateAt: new Date().toISOString()
        })
        .then(() => {
          // console.log("Client added: ", docRef.id);
          this.setModal(true);

          firestore
            .collection("User")
            .doc(this.user.data.uid)
            .collection("owner")
            .add({ code: this.Code, uid: this.user.data.uid });
        })
        .catch(error => {
          console.error("Error Adding: ", error);
        });
    },
    fetchClass() {
      firestore
        .collection("Class")
        .where("uid", "==", this.user.data.uid)
        .orderBy("createdAt", "desc")
        .get()
        .then(querySnapshot => {
          this.Class = [];
          querySnapshot.forEach(doc => {
            const data = {
              Class_Name: doc.data().Class_Name,
              Subject_ID: doc.data().Subject_ID,
              Semester: doc.data().Semester,
              Year: doc.data().Year,
              Code: doc.data().Code,
              uid: doc.data().uid
            };
            this.Class.push(data);
          });
        });
    },
    // eslint-disable-next-line no-unused-vars
    updateClass(classData) {
      this.modalClass = true;
      this.Class_Name = classData.Class_Name;
      this.Subject_ID = classData.Subject_ID;
      this.Semester = classData.Semester;
      this.Year = classData.Year;
      this.Code = classData.Code;
      this.updating = true;
    },
    navigate(code) {
      router.push({ name: "History_Teacher", params: { id: code } });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

#ClassTeacher {
  font-family: "Quicksand", sans-serif;
}

.container-classTeacher {
  width: 100%;
  /* min-height: 90vh; */
}

.wrap-classTeacher {
  /* width: 390px; */
  /* height: 90vh; */
  border-radius: 10px;
  margin: 0% 0%;
}

.card {
  /* height: 15%;
    width: 100%; */
  margin: 20px 0;
  border: 0px;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

/* .card-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 1em;
} */
.id-class {
  font-weight: 600;
  font-size: 1em;
}

.name-class {
  font-weight: 600;
  font-size: 2.2em;
}

.code-class {
  font-weight: 600;
  font-size: 1.3em;
}
.card-body {
  flex: 0 0 auto;
}

.login-btn {
  padding-top: 17%;
}

.btn {
  border-radius: 30rem;
  font-size: 1em;
  padding: 1.5% 6%;
  font-weight: 600;
  align-self: flex-end;
}

.btn-secondary {
  /* width: 50%;
    height: 6%; */
  margin: 20px 0;
  background-image: linear-gradient(90deg, #9af0f5, #57aae7);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-creatClass_2 {
  margin-top: 2px;
  background-image: linear-gradient(90deg, #9af0f5, #57aae7);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
  margin-bottom: 0%;
}

.my-2 {
  font-size: 2em;
  color: #1ea938;
}
.my-3 {
  font-size: 2em;
  margin-top: 10%;
}
.my-4 {
  color: black;
  font-size: 1.2em;
}

.icon-edit-trash {
  margin: 0% 3%;
  margin-bottom: 2%;
  z-index: 99;
  height: 50px;
}
.icon-edit-trash img {
  width: 18px;
  margin: 7px;
}

.create_save {
  width: 45%;
  padding: 1.5% 2%;
  margin-top: 0px;
}

.form-control {
  border-radius: 30rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

select {
  border-radius: 30rem;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-complete {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-body img {
  width: 70%;
}

.modal-body p {
  font-weight: 600;
  text-align: center;
}

.show-code {
  /* width: 80%; */
  font-size: 3em;
  padding: 5%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
}

.modal-footer > * {
  margin: 0;
}

span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 12px;
  color: red;
}
</style>
